<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Core-code Program TestSuite" preserve-order="true" allow-return-values="true" verbose="1">

    <parameter name="includeGroup" value="tesitng-cucumber"/>
    <parameter name="apiHost" value="none"/>
    <parameter name="seleniumHost" value="http://localhost:7000"/>
    <parameter name="runOn" value="chrome"/>
    <parameter name="browser" value="chrome"/>
    <test name="Test Cases">
        <groups>
            <run>
                
                <include name="tesitng-cucumber"/>
                
            </run>
        </groups>
        <classes>
            <class name="unitTestCalculadora.SumaParametersXML"/>
            <class name="unitTestCalculadora.SumaDataProvider"/>
            <class name="unitTestCalculadora.SumaParametersXML"/>
            <class name="integrationTesting.get.GetUsersGSON"/>
            <class name="integrationTesting.post.GetUsersPOST"/>
            <class name="integrationTesting.delete.UsersDeleteAll"/>
            <class name="systemTesting.pomSolid.CreateAccountPOMSolid"/>
            <class name="systemTesting.tableExample.TableExample"/>
            <class name="cucumberTests.runner.CucumberTestsRunner"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="listeners.CoreCodeListerner"/>
    </listeners>
</suite>
